* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* O box-sizing: border-box garante que o padding seja incluído no cálculo da largura, evitando que o conteúdo ultrapasse a tela. */
}

html {
    width: 100%;
    height: 100vh;
}

header {
    padding: min(5vh, 4rem); /* Ajustado o padding para ser mais flexível */
    background-color: #204b5e;
    width: 100%; /* Alteramos de 100vw para 100% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Aqui começamos o posicionamento do header */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999; /*Eixo Z, profundidade do HEADER*/

    /* Borda inferior */  
    box-shadow: 0 0.21rem 0.5rem white;
}

header i {
    color: white;
    font-size: 6em;
}


header button {
    width: 13rem;
    height: 1.5em;
    background-color: #426b65;
    border-radius: 1rem;
    padding: 1.3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}





.section-01 {
    background-color: #baab6a;
    padding: min(20vh, 6rem); /* Ajustado para manter flexibilidade em telas menores */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Corrigido de 100vw para 100% */
}

.section-02 {
    background-color: #fbea80; /* Alterei a cor para diferenciar as sections */
    padding: min(20vh, 6rem); /* Ajustado para flexibilidade */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Alteramos de 100vw para 100% */
}

.div-01 p {
    font-size: 2em;
    margin: 1.2em;
}

.div-02 img {
    margin: 5rem auto;
    width: 30rem;
    display: block; /* Garantindo que a imagem se comporte como um bloco */
}

footer {
    padding: min(10vh, 4rem);
    background-color: bisque;
    width: 100%; /* Corrigido de 100vw para 100% */
}

/* Estilização para tamanhos de telas menores */
@media (max-width: 830px) { /*de 766 para 830, onde estava começando a de fato quebrar*/
    header i {
        color: white;
        font-size: 3em;
        z-index: 999;
    }


    header button {
        width: 10rem;
        height: 0.8em;
        background-color: #426b65;
        border-radius: 1rem;
        padding: 1.3rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .section-01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9rem;
    }

    .section-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9rem;
    }

    .div-02 img {
        margin: 0 auto;
        width: 20rem;
    }

    .div-01 p {
        font-size: 2rem;
        /* Ajuste responsivo com rem */
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 1em;
    }
}